{% extends 'base.html' %}
{% load humanize %}

{% block content %}
<h1>Gallery of {{ user.username }}</h1>

{% if images %}
    <ul>
        {% for image in images %}
            <li>
                <strong>{{ image.title }}</strong><br>
                <img src="{{ image.image.url }}" alt="{{ image.title }}" width="300">
                <form method="POST" action="{% url 'delete_image' image.id %}" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">🗑 Usuń</button>
                </form>
                
                <a href="{% url 'edit_image' image.id %}">✏ Edytuj tytuł</a>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p>This user has not uploaded any images yet.</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if images.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ images.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ images.number }} of {{ images.paginator.num_pages }}.
        </span>

        {% if images.has_next %}
            <a href="?page={{ images.next_page_number }}">next</a>
            <a href="?page={{ images.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
<div class="storage_info">
    <p><strong>Used Space:</strong>{{ current_usage|filesizeformat }} of {{max_limit|filesizeformat}}</p>
    <p><strong>Remaining Space:</strong>{{ remaining_space|filesizeformat }}</p>
</div>
{% endblock %}