{% extends 'base.html' %}

{% block content %}
    <form method="post">

        {% csrf_token %}

        <input type="email" name="email" id="inputEmail" placeholder="Email address" required autofocus>
        <input type="password" name="password" id="inputPassword" placeholder="Password" required>

	    	{% for field in login_form %}
		    	<p>
		    	    {% for error in field.errors %}
		    		    <p style="color: red">{{ error }}</p>
		    		{% endfor %}
		    	</p>
		    {% endfor %}

		    {% if login_form.non_field_errors %}
		    	<div style="color: red">
		    		<p>{{login_form.non_field_errors}}</p>
		    	</div>
		    {% endif %}

		    <button type="submit">Log in</button>
		</form>

	<div>
		 <a href="{% url 'password_reset_request' %}">Reset password</a> 
	</div>






{% endblock content %}